vendor/
.git
node_modules/
logs/
.env
/.vscode
/.github
docker-compose.override.yml
.DS_Store
*.md
vendor/
node_modules/
.git/
.github/
.env
.env.*
/.idea
/.vscode
/docs/
/tools/
/tests/
composer.phar
docker-compose.override.yml
README.md
