Guidelines/Implementation.md
Guidelines/PRD.md
Guidelines/Implementation Page List.md

Guidelines
assets/Content/Ripal Design.png
assets/Content/sample-video-1.mp4
assets/Content/sample-video-2.mp4
assets/Content/WhatsApp Image 2026-02-02 at 5.02.50 PM.jpeg
assets/Content/WhatsApp Image 2026-02-02 at 5.02.51 PM.jpeg
assets/Content/WhatsApp Image 2026-02-02 at 5.43.21 PM (1).jpeg
assets/Content/WhatsApp Image 2026-02-02 at 5.43.21 PM.jpeg
assets/Content/WhatsApp Image 2026-02-02 at 5.51.43 PM (1).jpeg
assets/Content/WhatsApp Image 2026-02-02 at 5.51.43 PM.jpeg
assets/Content/WhatsApp Image 2026-02-02 at 6.55.18 PM.jpeg
dashboard/PROJECT_DETAILS_README.md
Common/MAP_EMBED_README.md
temp/project_assign.html
DATABASE_SCHEMA_EXPLANATION.md
.gitignore
DATABASE.erd
